<body>

  <div class="card shadow margin-top">
    <h4>Registro de trabajador</h4>
    <div>
      <input type="text" id="fullname" placeholder="nombre completo" required>
      <input type="text" id="id_card" placeholder="cédula">
      <input type="text" id="phone_num" placeholder="teléfono" required>
      <input type="text" id="emergency_num" placeholder="teléfono de emergencia">
      <br>
      Género
      <select id="gender" name="gender">
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
      <br>
      <label for="birthdate">Fecha Nacimiento</label>
      <input type="date" id="birthdate" placeholder="fecha nacimiento" required>
      <button class="btn2" type="submit" (click)="saveEmployee()">Registrar</button>
    </div>

    <button class="btn2" (click)="back()">Regresar</button>
  </div>

</body>