<body>

  <div class="card shadow margin-top">
    <h4>Registro de trabajador</h4>
    <form type="submit" action="">
      <input id="name" type="text" placeholder="nombre completo" required>
      <input id="card_id" type="text" placeholder="cédula" required>
      <input id="tel" type="text" placeholder="teléfono" required>
      <input id="emergency" type="text" placeholder="teléfono de emergencia">
      <input id="age" type="number" placeholder="edad" min="10" max="100" required>
      <button class="btn2" type="submit" (click)="saveEmployee()">Registrar</button>
    </form>
  </div>

</body>