<body>

  <div class="card shadow">

    <label for="fullname">Nombre completo</label><br>
    <input id="fullname" required [disabled]="isEditing ? null : true">
    <br><br>

    <label for="id_card">Cédula</label><br>
    <input id="id_card" required [disabled]="isEditing ? null : true">
    <br><br>

    <label for="phone_num">Teléfono</label><br>
    <input id="phone_num" required [disabled]="isEditing ? null : true">
    <br><br>

    <label for="emergency_num">Teléfono de emergencia</label><br>
    <input id="emergency_num" [disabled]="isEditing ? null : true">
    <br><br>

    <br>
    Género
    <select id="gender" name="gender" [disabled]="isEditing ? null : true">
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
      <option value="Otro">Otro</option>
    </select>
    <br>

    <label for="birthdate">Fecha Nacimiento</label>
    <input type="date" id="birthdate" placeholder="Fecha nacimiento" required [disabled]="isEditing ? null : true">

    <button class="btn2" (click)="back()">Volver</button>
    <button class="btn2" (click)="isEditing=!isEditing">Editar</button>
    <button class="btn2" (click)="saveNewValues()" *ngIf="isEditing">Guardar</button>

  </div>

</body>