<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body class="card shadow">

  <header>
    <h1>Trabajadores</h1>
  </header>

  <div>

    <!-- Search panel -->
    <div class="panel_card">
      <input id="search_input" (keyup)="filter()" placeholder="Buscar por nombre o por cédula"
        spellcheck="false">

      <button class="edit_button rounded clear_button rounded" (click)="restartFilter()">
        <span class="material-icons edit_icon">close</span>
      </button>
    </div>
    <br>

    <div>
      <h2>{{date}}</h2>
      <button (click)="goTo('/assign-daily-boxes')">Asignación de cajuelas</button>
      <button>Ver salarios</button>
      <button (click)="goTo('/register')">Registrar empleado</button>
    </div>
  </div>

  <!-- Employees list -->

  <br>
  <div class="panel_card shadow">
    <table id="workers">
      <tr>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Opción</th>
      </tr>
      <tr *ngFor="let employee of employee_list">
        <td *ngIf="employee.display">{{employee.id_card}}</td>
        <td *ngIf="employee.display">{{employee.fullname}}</td>
        <td *ngIf="employee.display">
          <div>
            <button class='btn2' (click)="clickOnEmployee(employee)">Ver</button>
          </div>
        </td>
      </tr>

    </table>
  </div>

  <!-- <div>
    <div *ngFor="let employee of employee_list">
      <div class="card shadow" *ngIf="employee.display == true">
        <span>{{employee.id_card}} {{employee.fullname}}</span>
        <button class='btn2' (click)="clickOnEmployee(employee)">Ver</button>
      </div>
    </div>
  </div> -->


</body>